#grid {
    width: 100%;
    height: 100%;
}

.q {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    transition: all 1.2s;
    font-family: 'Playfair Display', serif;

    width: 30vw;
    height: 10vh;
    margin: 10pt;
}

.q.closed {
    pointer-events: none;
}

    /* This container is needed to position the front and back side */
.q-inner {
    text-align: center;
    transition: transform 1.2s ;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

    /* Do an horizontal flip when you move the mouse over the flip box container */
.q.open .q-inner {
    transform: rotateY(180deg);
}


    /* Position the front and back side */
.q-front, .q-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.q-front, .q-back, #scoreboard {
    /*background-color: rgb(253, 106, 86)*/
    background: rgb(252,66,60);
    background: linear-gradient(180deg, rgb(255, 105, 100) 0%, rgb(255, 79, 79) 100%);
    
    color: black;
    display: flex;
    
    font-weight: bold;
    border-radius: 20pt;
    border: 3pt solid rgb(255, 213, 201);
    box-sizing: border-box;

    box-shadow: 5px 10px #888888;
    transition: all 0.25s;
}

.q-front {
    font-size: 2em;
    cursor: pointer;
    padding: 5pt;
}

.q.dull:not(.closed) .q-front {
    filter: brightness(0.6) !important;
    pointer-events: none;
    color: green;
}

.q.closed .q-front {
    filter: grayscale(1) brightness(0.6);
}

.q.glow:not(.closed) .q-front{
    animation: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.q-front:hover, .btn:not(.pressed):hover {
    border-color: white;
    filter: brightness(1.1);
}

.q:hover {
    z-index: 2;
}

    /* Style the back side */
.q-back {
    padding-left: 7.5%;
    padding-right: 7.5%;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.q-back > div {
    transition: all 0.6s;
}

.title {
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.btn {
    padding: 10pt;
    border: 3pt solid rgb(255, 213, 201);
    border-radius: 20pt;
    margin-top: 0.5em;
    background-color: rgb(253, 106, 86);
    cursor: pointer;
    transition: all 0.25s;
}

.content{
    margin-top: 0.5em;
    margin-bottom:0.75em;
    font-size: 2em;
    
}

.media {
    max-height: 40%;
}

.media img {
    max-height: 100%;
    cursor: zoom-in;
}

#big_ver {
    cursor: zoom-out;
}

#template, #player-template {
    display: none;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10pt;
    cursor: pointer;
    color: rgb(255, 213, 201);
    opacity: 75%;
    transition: all 0.25s;
}

.player .close {
    margin: 5pt;
}

.close:hover {
    opacity: 100%;
    transform: scale(1.05);
}

.screen {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: -1;
}



.hint, .answer {
    display: none;
}

.btn.pressed {
    background: rgb(255, 213, 201);
}

#scoreboard {
    height: 30%;
    width: 100%;
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%,0%);
    z-index: 7;
    transition: none;
    align-items: left;
    border-radius: 20pt 20pt 0pt 0pt;
    border-bottom: none;
}

#scoreboard-title {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    color: white;
    font-size: 2em;
    padding: 5pt;
}

.player {
    height: calc(100% - 30px);
    margin: 15px 0pt 15px 15px;
    flex-shrink: 0;
    padding: 5px;
    box-sizing: border-box;

    width: calc((100% - 15px)/6 - 15px);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: 15px;
    /*border: 1px solid black;*/

    transition: all 0.25s;
    cursor: pointer;
}

.player-name {
    word-wrap: break-word;
    overflow: hidden;
    max-width: 100%;
    font-size: 1.5em;
    line-height: 1.25em;
    height: 2.5em;
    cursor: text;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    border: none;
    resize: none;

    min-width: 10pt;
}

.player-name:empty::after {
    content: "Click to add name";
    font-size: 0.7em;
    line-height: initial;
    font-style: italic;
    opacity: 50%;
}

.player-score {
    position: absolute;
    top: 60%;
    transform: translate(0, -50%);
    width: 70%;
    box-sizing: border-box;
    height: 1.3em;

    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color:white;
    
    background: rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 15px;
}

#new-player:hover {
    box-shadow:  0 0 10px white;
}

#new-player:active {
    transform: scale(0.95)
}

i.plus {
    position: absolute;
    font-size: 5em;
    top: 50%;
    transform: translate(0, -50%);
}

.score-btn {
    position: absolute;
    opacity: 0%;
    height: 100%;
    width: 50%;
    top: 0%;
    max-height: 60px;
    height: 60px;
    
    padding: 1.5pt 2pt 0pt 2pt;
    box-sizing: border-box;

    transition: all 0.25s;
}

.player-score:hover .score-btn {
    opacity: 25%;
}

.score-btn:hover {
    opacity: 75% !important;
}

.score-btn.sub {
    border-radius: 15px 0 0 15px;
    left: 0%;
    text-align: left;
}

.score-btn.add {
    border-radius: 0 15px 15px 0;
    right: 0%;
    text-align: right;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}